* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    font-family: sans-serif;
}

.logo {
    display: inline;
    font-weight: 800;
    font-size: 18pt;
}

.logo>div {
    display: inline;
    color: rgb(255, 50, 50);
}

@media screen and (max-width: 480) {
    .logo {
        font-size: 10pt;
    }
}