body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    font-family: sans-serif;
}

.navigation {
    background-color: white;

    padding-bottom: 10px;
    margin-bottom: 40px;
    box-shadow: 5px 5px 50px 1px rgba(0, 0, 0, .2);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.logo {
    display: inline-block;
    color: black;
    font-weight: 800;

    font-size: 35pt;
    margin: 20px 20px 0 20px;
}

.logo div {
    display: inline-block;
    color: rgb(255, 50, 50);
}

hr {
    border: 1px solid black;
}

.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;

    flex-wrap: wrap;
}

.navigation-list li {
    background-color: rgb(255, 50, 50);
    color: white;
    font-weight: 800;

    padding: 10px 20px 10px 20px;
    border-radius: 10px;

    cursor: pointer;
}

.navigation-list li:hover {
    background-color: rgb(240, 50, 50);
}

#category-list {
    list-style: none;
    margin: 0;
    padding: 5px 0 0 0;
    display: flex;
    align-items: center;
    gap: 10px;

    flex-wrap: wrap;
}

#category-list li {
    background-color: rgb(255, 50, 50);
    color: black;
    font-weight: 800;
    font-size: 10pt;

    padding: 10px 20px 10px 20px;
    border-radius: 10px;

    cursor: pointer;
}

#category-list li:hover {
    background-color: rgb(240, 50, 50);
}

#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;

    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 30px 15px 30px 15px;


    width: 250px;
    height: 300px;
}

.product-card:hover {
    animation: cardAnim;
    animation-duration: .5s;
}

.product-name {
    font-weight: 800;
    white-space: pre-wrap;
}

.logreg {
    display: flex;
    gap: 10px;
    justify-content: end;
    margin-right: 20px;
}

.logreg div {
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 50, 50);
    color: white;

    font-weight: 800;

    cursor: pointer;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 7px;

    border-radius: 15px;
    padding: 30px 15px 30px 15px;
    background-color: rgb(240, 240, 240);
    box-shadow: 5px 5px 50px 1px rgba(0, 0, 0, .2);
}

#loginForm .loginButton {
    background-color: rgb(255, 50, 50);
    color: white;
    border-radius: 15px;
    border: 0;
    padding: 10px 0 10px 0;
    font-size: 12pt;
    font-weight: 800;

    margin-top: 20px;
}

#loginForm .loginButton:hover {
    background-color: rgb(240, 50, 50);
}

#loginForm input {
    height: 20px;
    border: 0;
    border-radius: 2px;
}

#loginnForm input:focus {
    outline: 3px solid rgb(255, 50, 50);
}

#registrationForm {
    display: flex;
    flex-direction: column;
    gap: 7px;

    border-radius: 15px;
    padding: 30px 15px 30px 15px;
    background-color: rgb(240, 240, 240);
    box-shadow: 5px 5px 50px 1px rgba(0, 0, 0, .2);
}

#registrationForm .registButton {
    background-color: rgb(255, 50, 50);
    color: white;
    border-radius: 15px;
    border: 0;
    padding: 10px 0 10px 0;
    font-size: 12pt;
    font-weight: 800;

    margin-top: 20px;
}

#registrationForm .registButton:hover {
    background-color: rgb(240, 50, 50);
}

#registrationForm input {
    height: 20px;
    border: 0;
    border-radius: 2px;
}

#registrationForm input:focus {
    outline: 3px solid rgb(255, 50, 50);
}

@keyframes cardAnim {
    to {
        box-shadow: 5px 5px 50px 1px rgba(0, 0, 0,.2);
    }
}