{% extends "orders_generic.html" %}
{% block content %}
{% for order in orders %}
<div class="order-card">
    <div class="ordered-by">{{order.user.first_name}} {{order.user.last_name}} {{order.user.email}}</div>
    <div class="ordered-address">{{order.address.postal}} {{order.address.city}} {{order.address.address}}</div>
    <div class="ordered-products">{{ order.products }}</div>
    <a href="/orderdone/{{ order.id }}" class="button">Teljesítve</a>
</div>
{% empty%}
    <div class="no-orders">Minden rendelés teljesítve</div>
{% endfor %}
{% endblock %}