<!DOCTYPE html>
    <html lang="hu">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
        <script src="static/script.js" defer></script>
        <title>A2R Webshop</title>
    </head>
    <body>
        <div class="main-con">
            <div class="navigation">
                <div class="logo">A<div>2</div>R Webshop</div>
                <div class="logreg">
                    <div id="logout-button">Kijelentkezés</div>
                    <div id="login-button">Belépés</div>
                    <div id="register">Regisztráció</div>
                    <div id="cart">
                        <div id="cart-count">0</div>
                        <img src="static/source/cart-icon.png" alt="cart">
                    </div>
                </div>
                <p id="message">Sikeres bejelentkezés!</p>
                <ul class="navigation-list">
                    <li id="webshop-button">Webshop</li>
                    <li id="about-button">Rólunk</li>
                    <li id="contract-button">ÁFSZ</li>
                </ul>
                <ul id="category-list">
                </ul>
            </div>
            <div id="container">
            </div>
        </div>
    </body>
</html>