:root {
    font-family: sans-serif;
    cursor: default;

    --main: rgb(255, 50, 50);
    --main-hover: rgb(200, 0, 0);
    --dot-bg: rgb(220, 220, 220);
    --dot-color: rgb(150, 150, 150);
    --dot-size: 1px;
    --dot-space: 10px;
    --dotted: linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}

* {
    margin: 0;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

body {
    height: auto;
}

.main-con {
    position: absolute;
    
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.navigation {
    background-color: white;

    box-shadow: 0 0 30px rgba(0, 0, 0, .4);
    border-radius: 0 0 10px 10px;
    height: auto;
    width: 100vw;

    margin: 0 0 30px 0;

    position: sticky;
    position: -webkit-sticky;
    top: 0;

    transition: all .5s;
}

.navigation:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
}

.nav-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 5px 0 5px;
}

.logo, .logo>div {
    display: flex;
    flex-direction: row;
    font-size: 30pt;
}

.logo>div {
    color: var(--main);
}

.logreg {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: auto;
    font-size: 12pt;
}

.logreg>.button {
    height: 30px;
}

#cart {
    position: relative;
    
    width: 50px;
    height: 50px;
    cursor: pointer;

    transition: all .5s;
}

#cart:hover {
    scale: 1.1;
}

#cart>img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    
    width: inherit;
    height: inherit;
}

#cart>div {
    position: absolute;
    right: 7px;
    bottom: 0;
    z-index: 1;

    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;

    background-color: var(--main);
    color: white;
    font-weight: 800;
    font-size: 9pt;
}

.button {
    background-color: var(--main);
    color: white;

    cursor: pointer;
    
    padding:5px;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;

    transition: all .5s;
}

.button:hover {
    background-color: var(--main-hover);
}

ul {
    margin: 0;
}

li {
    text-decoration: none;
    list-style: none;
}

.navigation-list {
    display: flex;
    flex-direction: row;
    gap: 10px;

    margin: 10px 0 0 10px;
}

#category-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 3px 0 0 20px;
    overflow: hidden;
}

#nav-control {
    display: none;
}

.cat-control {
    display: flex;
    flex-direction: column;
    height: 41px;

    transition: all .5s;
}

#nav-control:checked + .cat-control {
    height: 75px;
}

#message {
    position: fixed;
    right: 100px;
    top: 45px;
}

/* MAIN CONTENT */

#container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.product-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 30px 15px 30px 15px;
    background: var(--dotted);
    
    width: 250px;
    height: auto;

    transition: all .5s;
    overflow: hidden;
}

.product-card:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, .4);

    scale: 1.01;
}

.product-name {
    font-weight: 800;
    white-space: pre-wrap;
}

.product-button {
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(255, 50, 50);
    color: white;

    font-weight: 800;

    cursor: pointer;

    transition: background-color .2s;
}

.product-button:hover {
    background-color: rgb(200, 50, 50);
}

/* Login */

#loginForm {
    display: flex;
    flex-direction: column;
    
    background-color: rgb(240, 240, 240);
    background: var(--dotted);
    border-radius: 10px;
    padding: 20px;

    justify-content: center;
    align-items: center;

    transition: all .5s;
}

#loginForm>input {
    border: 0;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    outline: none;    
    background: var(--dotted);
    transition: all .5s;
}

#loginForm>input:focus {
    background: white;
    scale: 1.02;
}

.loginButton {
    border: 0;
}

#loginLabel {
    width: 100%;
    font-size: 17pt;
    padding: 0 0 20px 0;
}

.loginForm_buttons {
    width: 100%;
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.loginForm_buttons * {
    margin: 15px 0 0 0;
    padding: 5px;
    font-size: 10pt;
    border-radius: 5px;
    background-color: var(--main);
    color: white;

    cursor: pointer;

    transition: all .5s;
}

.loginForm_buttons *:hover {
    background-color: var(--main-hover);
}

/* Registrations */

#registrationForm {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    background-color: rgb(240, 240, 240);
    background: var(--dotted);
    border-radius: 10px;
    padding: 20px;

    justify-content: center;
    align-items: center;

    transition: all .5s;
}

#registrationForm input {
    border: 0;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    outline: none;    
    background: var(--dotted);
    transition: all .5s;
    height: 30px;

    font-size: 10pt;
}

#registrationForm input:focus {
    background: white;
    scale: 1.02;
}

.registButton {
    margin: 15px 0 0 0;
    padding: 5px;
    font-size: 10pt;
    border-radius: 5px;
    background-color: var(--main);
    color: white;
    outline: none;
    border: none;

    cursor: pointer;

    transition: all .5s;
}

.registButton:hover {
    background-color: var(--main-hover);
}

.registLabel {
    width: 100%;
    font-size: 17pt;
    padding: 0 0 20px 0;
}

.birth-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.birth-container label {
    font-size: 10pt;
    min-width: 120px;
    line-height: 30px;
    padding: 0 0 0 4px;
    color: gray;
}

.privacy-container {
    display: flex;
    flex-direction: row;
    font-size: 10pt;
    width: 100%;
    gap: 5px;
}

#acceptPrivacyRegistration {
    accent-color: var(--main);
    max-width: 15px;
    outline: 0;
    

    cursor: pointer;

    transition: all .5s;
}

.privacy-container label {
    line-height: 30px;
}

/* Cart */

#cart-container {
    background: var(--dotted);
    border-radius: 15px;
    
    width: 80vw;
    height: auto;

    padding: 15px;
    transition: all .5s;
}

#cart-container:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, .4);
    scale: 1.05;
}

.cart-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    transition: all .5s;
}

.cart-card:hover {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    scale: 1.01;
}

.delete-cart-button {
    transition: all .5s;
}

.delete-cart-button:hover {
    background-color: var(--main);
    color: white;
    padding: 5px;
    margin: -5px;
    border-radius: 5px;
}

hr {
    margin: 25px 10px;
}

#cart-overall {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#buy-cart-button {
    padding: 5px;
    background-color: var(--main);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
}

#buy-cart-button:hover {
    background-color: var(--main-hover);
}

/* Messagebox */

.messagebox {
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    font-size: 20pt;
}

.messagebox>div {
    background: var(--dotted);
    border-radius: 5px;
    transition: all .5s;
}

.messagebox>div:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    scale: 1.05;
}

.messagebox-header {
    padding: 15px 5px;
    font-size: 22pt;
    background-color: var(--main);
    border-radius: 5px 5px 0 0;
    color: white;
}

.messagebox-text {
    padding: 30px 10px;
    text-align: center;
}

.messagebox-button {
    margin: 0 5px 5px auto;
    width: 100px;
    text-align: center;
    overflow: hidden;
    background-color: var(--main);
    color: white;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;
}

.messagebox-button:hover {
    background-color: var(--main-hover);
}